<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pluralsight Learn To Code Academy Curriculum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../css/curriculum.css" rel="stylesheet">
</head>

<body>

    <table>
        <tr>
            <th colspan="4"><img src="../images/YearUpLogo.png" width="350px" height="155px"> Learn To Code Academy
                Curriculum</th>
        </tr>
        <tr>
            <td colspan="3">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="curriculum.html">Curriculum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="students.html">Students</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Week</th>
            <th>Topic</th>
            <th>Resources</th>
        </tr>

        <tr>
            <td rowspan="1"><a href="../weeks/week1.html">Week 1</a><br>
                10/02 - 10/06
            </td>
            <td>Command Line, Git, HTML, CSS, Bootstrap</td>
            <td><a href="https://app.schoology.com/course/6948258698/materials/gp/6948258786">Workbook 0 -
                    From-10000-Feet
                </a><br>
                <a href="//app.schoology.com/course/6948258698/materials/gp/6948258796">Workbook 1a - CLI and
                    Git</a><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948258806">Workbook 1b -
                    HTML-CSS-Bootstrap</a><br><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948258813"> Download
                    VirtualWorld.zip</a>
            </td>
        </tr>

        <tr>
            <td rowspan="1"><a href="../weeks/week2.html">Week 2</a><br>
                10/09 - 10/13
            </td>
            <td colspan="3" style="background-color: rgb(207, 146, 18, .75);">
                <a href="https://app.schoology.com/course/6948258698/materials?f=756886961">
                    <img src="../images/CapstoneWeek.png" width="400px" height="50px"></a> &nbsp;
                <b>Build an E-commerce Website</b>
            </td>
        <tr>
            <td rowspan="1"> <a href="../weeks/week3.html">Week 3</a><br>
                10/16 - 10/20
            </td>
            <td>Workbook 2 <br>
                Financial Calculators Workshop<br></td>
            <td><a href="https://app.schoology.com/course/6948258698/materials/gp/6948258844">Capstone Retrospective -
                    Agile</a><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948258851">Workbook 2 </a> <br><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948258863">Financial Calculators
                    Workshop</a>
            </td>
        </tr>
        <tr>
            <td rowspan="1"> <a href="../weeks/week4.html"> Week 4</a><br>
                10/23 - 10/27
            </td>
            <td>JavaScript Functions, Strings, and Dates</td>
            <td><a href="https://app.schoology.com/course/6948258698/materials/gp/6948258880">Workbook 3 </a><br><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948258890">Vacation Resort
                    Workshop</a>
            </td>
        </tr>
        <tr>
            <td rowspan="1"> <a href="../weeks/week5.html">Week 5</a><br>
                10/30 - 11/03
            </td>
            <td>JavaScript Objects, Loops, and Arrays</td>
            <td><a href="https://app.schoology.com/course/6948258698/materials/gp/6948258905">Workbook 4 </a><br><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948258914">Tourist Bureau Workshop
                </a><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948258925">Tourist Bureau Data Files
                </a>
            </td>
        </tr>
        <tr>
            <td rowspan="1"> <a href="../weeks/week6.html">Week 6</a><br>
                11/06 - 11/10
            </td>
            <td>JavaScript Advanced Arrays and DOM Basics</td>
            <td><a href="https://app.schoology.com/course/6948258698/materials/gp/6948258942">Workbook 5 </a><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948258954">Workbook 5 Data Files </a>
            </td>
        </tr>
        <tr>
            <td rowspan="1"> <a href="../weeks/week7.html">Week 7</a><br>
                11/13 - 11/17
            </td>
            <td colspan="3" style="background-color: rgb(207, 146, 18, .75)">
                <a href="https://app.schoology.com/course/6948258698/materials?f=756886980">
                    <img src="../images/CapstoneWeek.png" width="400px" height="50px"></a> &nbsp;
                <b>Enjoy the Outdoors</b>
            </td>
        </tr>
        <tr>
            <td rowspan="1"> <a href="../weeks/week8.html">Week 8</a><br>
                11/20 - 11/22
            </td>
            <td>Algorithms and CodeWars</td>
            <td>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948259004"> Workbook 6a - The
                    Internet and Web Development</a><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948258998"> Workbook 6b -
                    CodeWars</a>
            </td>
        </tr>
        <tr>
            <td rowspan="1"> <a href="../weeks/week9.html">Week 9</a><br>
                11/27 - 12/01
            </td>
            <td>JavaScript DOM, AJAX, and GET Request</td>
            <td><a href="https://app.schoology.com/course/6948258698/materials/gp/6948259018"> Workbook 7</a><br><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948259027"> Shop at Northwind
                    Workshop</a>
            </td>
        </tr>
        <tr>
            <td rowspan="1"> <a href="../weeks/week10.html">Week 10</a><br>
                12/04 - 12/08
            </td>
            <td>JavaScript AJAX, POST-PUT-DELETE Requests</td>
            <td><a href="https://app.schoology.com/course/6948258698/materials/gp/6948259037">Workbook 8 </a><br><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948259048">Stay Organized Workshop
                </a>
            </td>
        </tr>
        <tr>
            <td rowspan="1"> <a href="../weeks/week11.html">Week 11</a><br>
                12/11 - 12/15
            </td>
            <td>JavaScript Classes and Introduction to SQL</td>
            <td><a href="https://app.schoology.com/course/6948258698/materials/gp/6948259059">Workbook 9a -
                    JavaScript</a><br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948259066">Workbook 9b - MySQL and
                    the SQL Language Workbook</a> <br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948259075">Download
                    Northwind.MySQL.zip</a> <br>
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948259088">Workbook 9c -
                    Collaboration and Git</a>
            </td>
        </tr>
        <tr>
            <td rowspan="1"> <a href="../weeks/week12.html">Week 12</a><br>
                12/18 - 12/22
            </td>
            <td colspan="3" style="background-color: rgb(207, 146, 18, .75)">
                <a href="https://app.schoology.com/course/6948258698/materials/gp/6948259100">
                    <img src="../images/CapstoneWeek.png" width="400px" height="50px"></a> &nbsp;
                <b>Microblog Network Team Project</b>
            </td>
        </tr>

    </table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>